body{
    /* Reseting the content */
    margin: 0;
    padding: 0;
    background: url('./asset/image/background.jpg');
    background-size: cover;
}
header{
    height: 20vh;
}
/* style for navigation */
.navBar{
    display: inline-block;
    margin: 5px 5px;
    position: absolute;
    left: 300px;
}
.navBar ul{
    overflow: hidden;
}
.navBar ul li{
    float: left;
    list-style-type: none;
    margin: 10px 10px;
}
.navBar a{
    text-decoration: none;
    color:white;
    margin: 5px 5px;
    padding: 10px 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.navBar ul li a:hover{
    background-color: black;
    border-radius: 50%;
}
/* style for logo */
#logo{
    float: left;
    margin: 4px 4px;
}
#logo img{
    margin-left: 10px;
    border-radius: 50%;
}
#logo-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
/* style for side button */
.sideButton{
    float: right;
    /* position: relative;
    left: 120px; */
    margin: 30px 30px;
}
.sideButton a{
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    margin: 2px 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    /* border: 2px solid black; */
}
.sideButton a:hover{
    background-color: black;
    border-radius: 50%;
}
/* Joining From styling */
fieldset{
    height: 20vh;
    width: 30vw;
    margin: 10px 24px;
    border-radius: 50px;
    border-color: red;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    position: absolute;
}
.btn{
    border: none;
    outline: none;
    color: black;
    background-color:white;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    left: 150px;
    padding: 10px;
}
.btn:hover{
    color: white;
    background-color: black;
}